.campoTexto {
    width: 500px;
    height: 56px;
    padding: 12px 16px;
    border-radius: 20px;
    background-color: transparent; 
    border: 2px solid var(--preto);
    font-size: 20px;
    font-weight: 500px;
    box-sizing: border-box;
    line-height: 20px;
    transition: box-shadow 0.3s ease; /* Suave transição de sombra */
}

.campoTexto:focus {
    box-shadow: 0 0 8px black; /* Sombra azul ao focar */
    outline: none; /* Remove o outline padrão */
}

@media (max-width: 870px) {
    .campoTexto {

        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .campoTexto {
        height: 48px; /* Altura reduzida em telas menores */
        font-size: 14px; /* Tamanho da fonte ajustado */
        padding: 10px 12px; /* Padding reduzido */
        border-radius: 15px; /* Bordas menos arredondadas */
    }
}